
* {
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
}
/* pictures as a background-image inside the grid: */
.all-pictures {
    display: grid;
    grid-column-gap: 6px;
    grid-row-gap: 5px;
    grid-template-columns: 300px 300px 300px 363px;
}
.bigger-fig {
    background-image: url("images/fig-one.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height:690px;
}
.medium-fig-2 {
    background-image: url("images/fig-two.jpg");
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
.medium-fig-3 {
    background-image: url("images/fig-three.jpg");
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
.medium-fig-4 {
    background-image: url("images/fig-four.jpg");
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
.medium-fig-5 {
    background-image: url("images/fig-five.jpg");
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
/*nav bar: */
.nav-bar-apple { 
    left: 10%;  
    margin-top: 5%;
    position: absolute;
    width: 80%;
}
.nav-bar-apple li {
    background-color: #6e6e6e;
    display: table-cell;
    height: 36px;
    overflow: hidden;   
    text-align: center;
    vertical-align: middle;
    width: 7%;
}
.nav-bar-apple li:hover {
   background-image: linear-gradient(to bottom, #8A8A8A 20%, #363737 80%);
}
.nav-bar-apple ul li a { 
    color: white;
    font-size: 12px;
    font-weight: bold; 
    margin: 15px;
    text-decoration: none;        
}
.nav-bar-apple li a img {    
    position: relative;
    top:5px;
}
#search {
    position: relative;
    top: 2%;
}
input {
    background-color: #6e6e6e;
    background-image:url("images/mag-white.png");
    background-repeat:no-repeat; 
    border-radius: 25px;
    position: relative;
    top: -15px;
    transition: width 1s;
    width: 50%;
    -webkit-transition: width 1s;
}
input:focus { /* to change the color inside the input*/
    background-color: white;
    background-image: url("images/mag-grey.png");
    background-repeat: no-repeat; 
    width:70%;
}
/* pictures used as a phrases over the first image: */
.first-phrase {
    left: 28%;
    position: absolute;
    top: 180px;
}
.second-phrase {
    left:22%;
    position: absolute;
    top: 275px;
}
.last-phrase {
    left: 30%;
    position: absolute;
    top: 400px;   
}   
/* footer: */
.useful-links {
    display: flex;
    margin-top:30px;    
}
.useful-links a {
    color: #0088cc;
}
.left-links {    
    color:#6e6e6e;
    font-size: 10px;
    line-height: 25px;
    height:100px;
    width:50%;
}
.left-links p {
    text-align: end;
    margin-right: 50px;    
}
.right-links {
    color:#6e6e6e;
    font-size: 10px;
    line-height: 25px;
    height:100px;
    width:50%;
}
.right-links li {
    display: inline;
    margin-left: 5px;
}
ul {
    list-style-type: none;
    } 

