
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* pictures: */
.all-pictures {
    display: grid;
    grid-column-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 597px 200px;
}
.bigger-fig {
    background-color: blueviolet;
    grid-column-start: 1; /*starts on the line 1*/
    grid-column-end: 5; /*ends on the line 5*/
    grid-row-start: 1;
    grid-row-end: 2;
    height: 600px;  
    width:100%; 
}
.fig-one{
    height:100%;
    width:100%;
}
.medium-fig-2 {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
.medium-fig-3 {
    background-color:greenyellow;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
.medium-fig-4 {
    background-color: orange;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
.medium-fig-5 {
    background-color: purple;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width:100%;
}
/* links: */
.useful-links {
    display: flex;
    margin-top:70px;
    
}
.left-links {    
    background-color: palevioletred;
    color:#6e6e6e;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 10px;
    line-height: 25px;
    height:100px;
    width:50%;
}
.left-links p {
    text-align: end;
    margin-right: 5px;    
}
.right-links {
    background-color:goldenrod;
    color:#6e6e6e;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 10px;
    line-height: 25px;
    height:100px;
    width:50%;
}
.right-links li {
    display: inline;
    margin-left: 5px;
}
ul {
    list-style-type: none;
    } 

